label {
  font-family: Arial, Helvetica, sans-serif;
  color: #132c6b;
}
.gestionCouleursBords {
  border-color: #213875;
}
button {
  border-color: #213875;
  background-color: #132c6b;
  color: #ffffff;
  border-radius: 0;
  border-width: 3px;
  padding: 5px 20px;
  margin-top: 10px;
  text-align: center;
}
button:hover {
  border-color: #213875;
  background-color: #ffffff;
  color: #132c6b;
  font-family: Arial, Helvetica, sans-serif;
}
input {
  padding-right: auto;
  padding-left: 5%;
  min-width: 200px;
  max-width: 350px;
  border-color: #132c6b;
  border-radius: 0;
  border-width: 3px;
}
.alert {
  max-width: 350px;
}
