@bleuClair: #132c6b;
@bleuFonce: #213875;
@blanc: #ffffff;

label{
  font-family: Arial, Helvetica, sans-serif;
  color: @bleuClair;
}

.gestionCouleursBords{
  border-color: @bleuFonce;
}

button{
  .gestionCouleursBords();
  background-color: @bleuClair;
  color: @blanc;
  border-radius: 0;
  border-width: 3px;
  padding: 5px 20px;
  margin-top: 10px;
  text-align: center;
}

button:hover{
  .gestionCouleursBords();
  background-color: @blanc;
  color: @bleuClair;
  font-family: Arial, Helvetica, sans-serif;
}

input{
  padding-right: auto;
  padding-left: 5%;
  min-width: 200px;
  max-width: 350px;
  border-color: @bleuClair;
  border-radius: 0;
  border-width: 3px;
}

.alert{
  max-width: 350px;
}